html {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

body {
  width: 100%;
  margin: 0;
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  column-gap: 1rem;
  justify-content: flex-end;
}

p {
  font-weight: 300;
  font-size: 1.25rem;
}

a {
  color: #0074d9;
  position: relative;
  text-decoration: none;
  font-weight: 400;
}

/* Copied from https://codepen.io/gabrielcojea/pen/ExPaBzQ */
a::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #0074d9;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  a:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

strong {
  font-size: 1rem;
}

h1 {
  font-size: 3.5rem;
  font-weight: 300;
  margin: 0;
}

#comic {
  border: solid 2px #212121;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
  max-height: 25vh;
}

#doggos {
  border: solid 8px #efefef;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
  max-height: 35vh;
}

.bark {
  font-style: italic;
  color: black;
  background: white;
}

.bark.visible {
  position: absolute;
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.bark.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.full-container {
  width: 100%;
  height: auto;
}

#prefix {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 30vh;
  text-align: right;
  width: 25%;
  height: 0;
}

#content-sections {
  width: 100%;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.content-section {
  padding-top: 30vh;
  scroll-snap-align: start;
  margin-left: 25%;
  padding-left: 16px;
  min-width: 200px;
  width: 50%;
  height: 70vh; /* = 100vh - .content-section:padding-top */
}

.container {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-column-gap: 1rem;
  padding: 0 1rem;
}

#contact {
  height: 70vh; /* = 100vh - .content-section:padding-top */
}

.date {
  position: relative;
}

.subtitle {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  opacity: 0.54;
  text-transform: uppercase;
}

.date > span {
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  background: #212121;
  color: #fff;
  padding: 0.25rem 0.5rem;
}
#uva-date-tag > span {
  background: linear-gradient(120deg, #232d4b 50%, #e57200 50%);
}

.contact-list {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 13px;
  }

  h1 {
    font-size: 2.5rem;
  }
}
