{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="full-container">
  <div id="prefix">
    <h1>I am</h1>
  </div>
  <div class="content-sections">

    <section class="content-section">
      <h1>David Zhao</h1>
    </section>
  
    <section class="content-section">
      <h1 class="title">{{ age }} years old</h1>
      <p class="content">
        <img id="comic" src="{% static 'img/calvin.jpg' %}" alt="I grew up on Calvin and Hobbes. I think I've read every strip.">
      </p>
      At least {{ age|add:1 }} apparently.
    </section>

    {% for event in events %}
    <section class="content-section">
      {% if event.dates %}
      <div class="date"><span>{{ event.dates }}</span></div>
      {% endif %}
      <h1 class="title">{{ event.title }}</h1>
      <h3 class="subtitle">{{ event.subtitle }}</h3>
      <p class="content">
        {% for line in event.lines %}
        {% if line.bold %} <strong> {% endif %}
          {{ line.text | safe }}
          {% if line.bold %} </strong> {% endif %}
        {% if not line.last %} <br> {% endif %}
        {% endfor %}
      </p>
    </section>
    {% endfor %}

    <section id="contact" class="content-section">
      <div>
        <h1>happy to chat</h1>
        <div class="contact-list">
          <div>Phone</div>
          <div>(281) 961-7541</div>
          <div>Email</div>
          <div><a href="mailto:davidbzhao@outlook.com">davidbzhao@outlook.com</a></div>
          <div>LinkedIn</div>
          <div><a href="http://linkedin.com/in/davidbzhao">linkedin.com/in/davidbzhao</a></div>
          <div>GitHub</div>
          <div><a href="http://github.com/davidbzhao">github.com/davidbzhao</a></div>
        </div>
      </div>
    </section>
  </div>
</div>

{% endblock content %}