{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="full-container">
  <div id="prefix">
    <h1>I am</h1>
  </div>
  <div id="grid-icon" style="position: absolute; top: 8px; left: 8px;">
    <svg width="68px" height="68px">
      <rect x="2" y="2" width="16" height="16" style="stroke-width: 2; stroke: rgb(0,0,0)" />
      <rect x="24" y="2" width="16" height="16" style="stroke-width: 2; stroke: rgb(0,0,0)" />
      <rect x="46" y="2" width="16" height="16" style="stroke-width: 2; stroke: rgb(0,0,0)" />
      <rect x="2" y="24" width="16" height="16" style="stroke-width: 2; stroke: rgb(0,0,0)" />
      <rect x="24" y="24" width="16" height="16" style="stroke-width: 2; stroke: rgb(0,0,0)" />
      <rect x="46" y="24" width="16" height="16" style="stroke-width: 2; stroke: rgb(0,0,0)" />
      <rect x="2" y="46" width="16" height="16" style="stroke-width: 2; stroke: rgb(0,0,0)" />
      <rect x="24" y="46" width="16" height="16" style="stroke-width: 2; stroke: rgb(0,0,0)" />
      <rect x="46" y="46" width="16" height="16" style="stroke-width: 2; stroke: rgb(0,0,0)" />
    </svg>
  </div>
  <div id="content-sections">

    <section class="content-section" data-grid-icon="[[[0, 155, 72], [183, 18, 52], [255, 213, 0]], [[0, 70, 173], [255, 255, 255], [255, 88, 0]], [[183, 18, 52], [255, 213, 0], [0, 70, 173]]]">
      <h1>David Zhao</h1>
    </section>
  
    <section class="content-section" data-grid-icon="[[[242, 113, 35], [255, 255, 255], [255, 200, 23]], [[3, 3, 30], [242, 113, 35], [255, 213, 207]], [[242, 113, 35], [3, 3, 30], [244, 6, 42]]]">
      <h1 class="title">{{ age }} years old</h1>
      <p class="content">
        <img
          id="comic"
          src="{% static 'img/calvin.jpg' %}"
          alt="I grew up on Calvin and Hobbes. I think I've read every strip."
          width="250px"
          height="332px"
        >
      </p>
      At least {{ age|add:1 }} apparently.
    </section>

    {% for event in events %}
    <section class="content-section" data-grid-icon="{{ event.grid_icon }}">
      {% if event.dates %}
      <div class="date"><span>{{ event.dates }}</span></div>
      {% endif %}
      <h1 class="title">{{ event.title }}</h1>
      <h2 class="subtitle">{{ event.subtitle }}</h2>
      <p class="content">
        {% for line in event.lines %}
        {% if line.bold %} <strong> {% endif %}
          {{ line.text | safe }}
          {% if line.bold %} </strong> {% endif %}
        {% if not line.last %} <br> {% endif %}
        {% endfor %}
      </p>
    </section>
    {% endfor %}

    <section id="contact" class="content-section" data-grid-icon="[[[1, 167, 101], [255, 255, 255], [255, 255, 255]], [[1, 167, 101], [255, 255, 255], [1, 167, 101]], [[1, 167, 101], [255, 255, 255], [255, 255, 255]]]">
      <div>
        <h1>happy to chat</h1>
        <div class="contact-list">
          <div>Phone</div>
          <div>(281) 961-7541</div>
          <div>Email</div>
          <div><a href="mailto:davidbzhao@outlook.com">davidbzhao@outlook.com</a></div>
          <div>LinkedIn</div>
          <div><a href="http://linkedin.com/in/davidbzhao">linkedin.com/in/davidbzhao</a></div>
          <div>GitHub</div>
          <div><a href="http://github.com/davidbzhao">github.com/davidbzhao</a></div>
        </div>
      </div>
    </section>
  </div>
</div>

{% endblock content %}