---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-NJE9Z87CKT"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-NJE9Z87CKT");
    </script>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="An introduction to who I am and how to contact me."
    />
    <meta
      name="keywords"
      content="David Zhao,David Zhoa,Peregrine,Palantir,UVA"
    />

    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />

    <!-- Optimize Google font load https://pagespeedchecklist.com/asynchronous-google-fonts#all-together-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Ubuntu&display=swap"
    />
    <link
      rel="stylesheet"
      media="print"
      onload="this.onload=null;this.removeAttribute('media');"
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Ubuntu&display=swap"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Ubuntu&display=swap"
      />
    </noscript>
  </head>

  <body>
    {% if page.show_navigation %} {% include navigation.html %} {% endif %}
    <!-- Page content -->
    {{ content }}
    <script src="https://cdn.cookiehub.eu/c2/0983b3d8.js"></script>
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function (event) {
        var cpm = {};
        window.cookiehub.load(cpm);
      });
    </script>
  </body>
</html>
