---
show_navigation: true
---

<!DOCTYPE html>
<html lang="en" style="overflow-y: scroll">
  <head>
    {% include meta.html %}
  </head>

  <body>
    {% if page.show_navigation %} {% include navigation.html %} {% endif %}
    <!-- Page content -->
    <div class="blog-container">
      <div class="blog-content">
        <article>
          <h1>{{ page.title }}</h1>
          <p>{{ page.date | date_to_long_string }}</p>
          {{ content }}
        </article>
      </div>
    </div>
    <!-- Cookie consent -->
    {% include cookie_footer.html %}
  </body>
</html>
