{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>I am David Zhao</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Bad+Script&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/holiday.css' %}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <section class="title">
            <h1>Dear Athena</h1>
        </section>
        {% for bucket in buckets %}
            <section class="stanza">
                {% for stanza in bucket.stanzas %}
                    {{ stanza | linebreaks}}
                {% endfor %}
            </section>
            {% if bucket.photos %}
                <section class="gallery">
                    <div class="gallery-scroll-container">
                        {% for photo in bucket.photos %}
                            <img src="{{ photo }}">
                        {% endfor %}
                    </div>
                </section>
            {% endif %}
        {% endfor %}
    </body>
</html>